In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
print(2+2)
3+7

4

10

In [3]:
print(2+2)

4

In [4]:
'apple'

'apple'

In [5]:
print('apple')

apple

In [6]:
print(2+2)
'apple'

4

'apple'

In [7]:
print(2+2)

4

In [8]:
'apple'

'apple'

In [9]:
print(2+2)
print(3+5.33)

4
8.33

In [10]:
# Use of 'sep' parameter
print('hello world',2+2,'this is python')
print('hello world',2+2,'this is python',sep='*')
print('hello world',2+2,'this is python',sep='')
print('hello world',2+2,'this is python',sep=' ')

hello world 4 this is python
hello world*4*this is python
hello world4this is python
hello world 4 this is python

In [11]:
# Use of 'end' parameter
print('hello world',2+2,'this is python')
print('Apple')
print('\n')
print('hello world',2+2,'this is python',end='*')
print('Apple')
print('\n')
print('hello world',2+2,'this is python',end='\n')
print('Apple')

hello world 4 this is python
Apple


hello world 4 this is python*Apple


hello world 4 this is python
Apple

In [12]:
#Print your full name with an underscore between your first and last name using 'sep'
#parameter
print("Khushi","Dua",sep="_")

#Print your full name with an underscore between your first and last name using 'end'
#parameter
print("Khushi",end="_")
print("Dua")

Khushi_Dua
Khushi_Dua

In [13]:
# 4.1 Numeric data types: int, float, complex
a = 7
print(type(a))
b=2.356
print(type(b))
c= 3.908J
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
### 4.2 String data types: str
s1= '7'
print(type(s1))

<class 'str'>

In [15]:
# 4.3 Sequence types: list, tuple, range
l1= [1,2,3,'apple',6]
print(l1)
print(type(l1))
print('\n')
t1= (1,2,3,'apple',6)
print(t1)
print(type(t1))
print('\n')
r1= range(0,5)
print(r1)
print(type(r1))

[1, 2, 3, 'apple', 6]
<class 'list'>


(1, 2, 3, 'apple', 6)
<class 'tuple'>


range(0, 5)
<class 'range'>

In [16]:
### 4.4 Mapping data type: dict
d1= {'a':[1,2,3,4],'b': [9,8,7],'c':'Apple'}
print(d1)
print(type(d1))

{'a': [1, 2, 3, 4], 'b': [9, 8, 7], 'c': 'Apple'}
<class 'dict'>

In [17]:
### 4.5 Boolean type: bool
b1= True
print(type(b1))

<class 'bool'>

In [18]:
### 4.6 Set types: set
s1={5,6,2,7,8,2}
print(s1)
print(type(s1))

{2, 5, 6, 7, 8}
<class 'set'>

In [19]:
#1- A list is an ordered and indexed
#collection of values that are changeable and
#allows duplicates
list1 = ['python',2,3,4,'apple',2.71,2]
list1

['python', 2, 3, 4, 'apple', 2.71, 2]

In [20]:
#2- A tuple is an ordered collection of values
#that are unchangeable and allows duplicates
tuple1 = ('python',2,3,4,'apple',2.71,2)
tuple1

('python', 2, 3, 4, 'apple', 2.71, 2)

In [21]:
#3- A set is an unordered collection of
# values that are changeable and does not
# allow duplicates
set1 = {'python',2,3,4,'apple',2.71,2}
set1

{2, 2.71, 3, 4, 'apple', 'python'}

In [22]:
#4- A dictionary is a collection of values
# that are unordered (but indexed) and
# changeable
dict1 = {"brand": "Apple","product": "iPhone",

"model": "X"}

dict1

{'brand': 'Apple', 'product': 'iPhone', 'model': 'X'}

In [23]:
# Addition
print(2+5)
# Substraction
print(5-2)
# Multiplication
print(2*5)
# Division
print(6/2)
# Modulus, gives us remainder
print(9%2)
# Exponent, to raise power
print(5**2)
# Floor Division (gives integer), gives quotient
print(15//2)

7
3
10
3.0
1
25
7

In [24]:
# Equal to (==):
a = 5
b = 5
a == b

True

In [25]:
# Not equal to (!=):
a = 7
b = 4
a != b

True

In [26]:
# Greater than (>):
a = 10
b = 8
a > b

True

In [27]:
# Less than (<):
a = 10
b = 8
a < b

False

In [28]:
# Greater than or equal to (>=):
a = 5
b = 5
a >= b

True

In [29]:
# Less than or equal to (<=):
a = 3
b = 4
a <= b

True

In [30]:
# Logical AND (and):
x = True
y = False
x and y

False

In [31]:
# Logical OR (or):
x = True
y = False
x or y

True

In [32]:
# Logical NOT (not):
x = True
not x

False

In [33]:
# Assignment (=):
a = 10
print(a)

10

In [34]:
# Addition Assignment (+=):
a = 5
a += 3
print(a)

8

In [35]:
# Subtraction Assignment (-=):
b = 7
b -= 4
print(b)

3

In [36]:
# Subtraction Assignment (-=):
b = 7
b -= 4
print(b)

3

In [37]:
# Multiplication Assignment (*=):
c = 2
c *= 6
print(c)

12

In [38]:
# Division Assignment (/=):
d = 10
d /= 2
print(d)

5.0

In [39]:
a = 60
b = 13
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>2)

12
61
49
-61
240
15

In [40]:
print(bin(61))
print(int(0b111101))

0b111101
61

In [41]:
~14

-15

In [42]:
x= 'Hello, World!'
'ello' in x

True

In [43]:
x= 'Hello, World!'
'ello' not in x

False

In [44]:
x= 'Hello, World!'
'hello' not in x

True

In [45]:
x='a'
y='a'
x is y

True

In [46]:
x='a'
y='a'
x is not y

False

In [47]:
a=5.0
b=5
print(a is b)
print(a==b)

False
True

In [48]:
# Example 1
my_name = input('Please enter your name: ', )
print("My name is :", my_name)

Please enter your name: Khushi
My name is : Khushi

In [49]:
# Example 2
age = int(input("Enter your age: "))# we are doing explicit conversion here
print('You are',age,'years old.')

Enter your age: 19
You are 19 years old.

In [50]:
#1-Write a Python expression that calculates the area of rectangle .It should ask to input
#the length and width.
length=float(input("Enter the length of rectangle:"))
width=float(input("Enter the width of rectangle:"))
print("Area of rectangle:",length*width)

Enter the length of rectangle:200
Enter the width of rectangle:100
Area of rectangle: 20000.0

In [51]:
#2- Given the variables num1 = 10 and num2 = 3, write Python expression that
#calculates
#* A) the remainder when num1 is divided by num2.
#* B) the quotient when num1 is divided by num2.
num1=10
num2=3
print(num1%num2)
print(num1//num2)

1
3

In [52]:
#Write a Python program that takes the user's name and age as input and prints a
#message saying,
#• 'Hello', name, 'Your age next year will be', age, 'years'.
name=input("Enter username:")
age=int(input("Enter age:"))
print('Hello', name, 'Your age next year will be', age+1, 'years')

Enter username:Khushi
Enter age:19
Hello Khushi Your age next year will be 20 years

In [53]:
x = 7
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [54]:
x = 7
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

In [55]:
x = 3
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is less than 5

In [56]:
x = 10
y = 5
if x > 5:
    print('First condition is satisfied')
    if y > 3:
        print("Both conditions are satisfied")
    else:
        print(' Only second condition is not satisfied')
else:
    print('First condition is not satisfied')

First condition is satisfied
Both conditions are satisfied

In [57]:
x = 10
"Greater than 5" if x > 5 else "Not greater than 5"

'Greater than 5'

In [58]:
x =18
if 10 < x < 20:
    print("x is between 10 and 20.")

x is between 10 and 20.

In [59]:
#Q1. Write a code in Python that prints whether the customer can buy the a mobile Phone
#or not based on his budget.
#• Input the budget.
#• Mobile price is 30000
budget=float(input("Enter ur budget:"))
if budget>=30000:
    print("You can buy the phone")

Enter ur budget:50000
You can buy the phone

In [60]:
#Q2. Suppose the price of the 32 GB, 64 GB, 128 GB and 256GB Phones are 15000, 20000,
#30000, 40000 respectively. Write a conditional statement to print the price based on the
#internal storage of the phone. If the entered storage is not available, print NA
#Sol
storage=int(input("Enter the required storage in GB:"))
if storage==256:
    print("Price of Phone: 40,000")
elif storage==128:
    print("Price of Phone: 30,000") 
elif storage==64:
    print("Price of Phone: 20,000")     
elif storage==32:
    print("Price of Phone: 10,000")  
else:
    print("NA")

Enter the required storage in GB:246
NA

In [61]:
#Q3. Write a program for a candidate's selection prodedure for an examination with below
#conditions are given:
#• If the candidate score is above 80 in First Round, he/she is eligible to appear in Second
#Round else not.
#• If the candidate score is above 70 in Second Round, he/she is eligible to appear in Third
#Round else not.
#• If the candidate score is above 60 in Third Round, he/she is SELECTED else REJECTED.
#Sol
score=int(input("Enter ur score of 1st round:"))
if score>=80:
    print("Move to second round")
    score2=int(input("Enter ur score of 2nd round:"))
    if score2>=70:
        print("Move to 3rd round")
        score3=int(input("Enter ur score of 3rd round:"))
        if score3>=60:
            print("SELECTED")
        else:
            print("REJECTED")
    else:
        print("Can't move to second round")
else:
    print("Can't move to first round")

Enter ur score of 1st round:90
Move to second round
Enter ur score of 2nd round:90
Move to 3rd round
Enter ur score of 3rd round:90
SELECTED

In [62]:
#Q4. Print the Group of student based on given criteria:
#• If marks are more than or equaL to 80 - Group1
#• If marks are more than or equaL to 60 & less 80 - Group2
#• If marks are more than or equaL to 40 & less 60 - Group3
#Sol
marks=float(input("Enter ur percentage:"))
if marks>80:
    print("First group")
elif 60<marks<80:
    print("Second group")
elif 40<marks<60:
    print("Third group")
else:
    print("NO group")

Enter ur percentage:100
First group

In [63]:
#Q5 Nested Login System:
#• Ask for username and Password of a user
#• If username is 'admin' ask for password
#• If username is incorrect print "incorrect username"
#• If password is incorrect print "incorrect password"
#• If password is 'admin123' print "login successful"
#Sol
username=input("Enter username:")
if username=='admin':
    password=input("Enter password:")
    if password=="admin123":
        print("Login successful")
    else:
        print("Password is incorrect")
else:
    print("Username is incorrect")

Enter username:admin
Enter password:admin123
Login successful

In [64]:
# Iterating over a list:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [65]:
# Using range for numerical loops:
for i in range(5):
    print(i)

0
1
2
3
4

In [66]:
# Iterating over a string:
word = "Python"
for char in word:
    print(char)

P
y
t
h
o
n

In [67]:
#for loop with else
num=[1,2,3,4,5]
for i in num:
    print(i)
else:
    print("no items in list")

1
2
3
4
5
no items in list

In [68]:
# Simple while loop:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [69]:
i=0
while i in range(5):
    print(i)
    i+=1

0
1
2
3
4

In [70]:
#while loops can also have an else clause.
#The else block is executed when the loop condition becomes False.
count = 0
while count < 5:
    print(count)
    count += 1
else:
    print("Loop condition is False.")

0
1
2
3
4
Loop condition is False.

In [71]:
#Q1. Write a code in Python that prints the discounted price for each of the below-
#mentioned discounts.

#Suppose the price of the 32 GB, 64 GB, 128 GB and 256GB Phones are 15000, 20000, 30000,
#40000 respectively. Claculate the prices of these phones after providing 5%, 10%, 15%, and
#20% discounts respectively.
#Sol
storage=int(input("Enter the required storage in GB:"))
if storage==256:
    price =40000
    
elif storage==128:
    price = 30000
    
elif storage==64:
    price= 20000  
    
elif storage==32:
    price=10000
    
else:
    print("Enter valid storage")

for i in range(5, 21, 5):
    discount = price * (i / 100)
    discounted_price = price - discount
    print('The price after providing ', i,' percent discount is Rs.',discounted_price)

Enter the required storage in GB:32
The price after providing  5  percent discount is Rs. 9500.0
The price after providing  10  percent discount is Rs. 9000.0
The price after providing  15  percent discount is Rs. 8500.0
The price after providing  20  percent discount is Rs. 8000.0

In [72]:
storage=int(input("Enter the required storage in GB:"))
if storage==256:
    Price =40000
    
elif storage==128:
    Price = 30000
    
elif storage==64:
    Price= 20000  
    
elif storage==32:
    Price=10000
    
else:
    print("Enter valid storage")

i = 5
while i <= 20:
    discount = Price * (i / 100)
    discounted_price = Price - discount
    print('The price after providing ',i,
    ' percent discount is Rs.',discounted_price)
    i =i + 5

Enter the required storage in GB:32
The price after providing  5  percent discount is Rs. 9500.0
The price after providing  10  percent discount is Rs. 9000.0
The price after providing  15  percent discount is Rs. 8500.0
The price after providing  20  percent discount is Rs. 8000.0

In [73]:
#Q2. Print the multiplication table of 5 using :
#• for loop
#• while loop
for i in range(10):
    print(5,"X",i,"=",i*5)

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [74]:
i=1
while(i<=10):
    print(5,"X",i,"=",i*5)
    i+=1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [75]:
#Q3. Print even numbers from 2 to 10 using :
#• for loop:
#• while loop
for i in range(2,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [1]:
i=1        
while(i<=10):
    if (i%2==0):
        print(i)
    i+=1

2
4
6
8
10

In [8]:
numbers=[2,4,6,8,10]
if all(x%2==0 for x in numbers):
    print("All numbers are even")
else:
    print("All numbers are not even")

All numbers are even

In [5]:
numbers = [1,3,5,7,4]
if any (x % 2 == 0 for x in numbers):
    print("One number are even.")
else:
    print("all numbers are not even")

One number are even.

In [9]:
names=['Alice','Bob','Charlie']
ages=[25,30,22]
for name,age in zip(names,ages):
    print(name,age)

Alice 25
Bob 30
Charlie 22

In [15]:
fruits = ['apple', 'banana', 'cherry']
for index, value in enumerate(fruits):
    print(index,value)

0 apple
1 banana
2 cherry

In [17]:
# In this example, the loop will terminate when it encounters the string "cherry".
fruits = ["apple", "banana", "mango", "date"]
for fruit in fruits:
    print(fruit)
    if fruit == "mango":
        break

apple
banana
mango

In [19]:
# In this example, even numbers are skipped, and only odd numbers are printed.
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

1
3
5

In [25]:
# In this example, the pass statement is used when the condition x > 5 is true.
x = 10
if x > 5:
    pass # do nothing
else:
    print("x is not greater than 5")

hdnn

In [24]:
x = 4
if x > 5:
    pass # do nothing
else:
    print("x is not greater than 5")

x is not greater than 5

In [28]:
my_set = {31, 2, 3, 'four', 5.0,'*', 19,'four'}
my_set

{'*', 19, 2, 3, 31, 5.0, 'four'}

In [29]:
# Accessing the first element
first_element = my_set[0]
print(first_element)

TypeError: 'set' object is not subscriptable

In [30]:
set1 = {1, 2, 3}
set2 = {'a', 'b', 'c'}

In [31]:
# Concatenation: Combining two or more sets is not possible
combined_set = set1 + set2
print(combined_set)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [32]:
# Repetition: Repeating elements in a set is again not possible
repeated_set = set1 * 3
print(repeated_set)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [33]:
my_set

{'*', 19, 2, 3, 31, 5.0, 'four'}

In [35]:
# Modifying Elements: Sets are mutable but unordered, so we cannot modify␣
#elements
my_set[3] = 'one' # Modify element at 3rd index
print(my_list)

TypeError: 'set' object does not support item assignment

In [36]:
# Adding Elements: Using methods add() to add elements.
print(my_set)
my_set.add('added element') # Add element 'added element'
print(my_set)

{'four', 2, 3, '*', 5.0, 19, 31}
{'four', 2, 3, '*', 5.0, 19, 'added element', 31}

In [37]:
# Removing Elements: Using methods like remove() or pop() to delete elements.
print(my_set)
removed_element = my_set.pop() # Remove and return any arbitrary element
print(removed_element)
print(my_set)

{'four', 2, 3, '*', 5.0, 19, 'added element', 31}
four
{2, 3, '*', 5.0, 19, 'added element', 31}

In [38]:
print(my_set)
removed_element = my_set.remove(5.0) # Remove element 5.0
print(removed_element)
print(my_set)

{2, 3, '*', 5.0, 19, 'added element', 31}
None
{2, 3, '*', 19, 'added element', 31}

In [39]:
print(my_set)
removed_element = my_set.discard(31) # Remove element 5.0
print(removed_element)
print(my_set)

{2, 3, '*', 19, 'added element', 31}
None
{2, 3, '*', 19, 'added element'}

In [46]:
print(my_set)
removed_element = my_set.remove(5.0) # Remove element 5.0
print(removed_element)
print(my_set)

{3, '*', 19, 'added element'}

KeyError: 5.0

In [47]:
print(my_set)
removed_element = my_set.discard(5.0) # Remove element 5.0
print(removed_element)
print(my_set)

{3, '*', 19, 'added element'}
None
{3, '*', 19, 'added element'}

In [48]:
# len(): Finding the length of a set.
print(my_set)
length_of_set = len(my_set)
print(length_of_set)

{3, '*', 19, 'added element'}
4

In [49]:
# sorted(): Sorting elements in a set.
numerical_set={2,6,1,89,54,4,6}
print(numerical_set)
sorted_set = sorted(numerical_set) # Always returns a list
print(sorted_set)

{1, 2, 4, 6, 54, 89}
[1, 2, 4, 6, 54, 89]

In [50]:
# max(), min(): Returns the maximum and minimum values in a tuple.
print(max(numerical_set))
print(min(numerical_set))

89
1

In [51]:
# sum(): Returns the sum of all elements in a tuple.
sum(numerical_set)

156

In [52]:
set1 = {1, 2, 3,'apple'}
set2 = {3,'mango', 4, 5}
print(set1)
print(set2)

{1, 2, 3, 'apple'}
{3, 4, 5, 'mango'}

In [53]:
# Union of sets
union_result = set1.union(set2)
union_result

{1, 2, 3, 4, 5, 'apple', 'mango'}

In [54]:
# Intersection of sets
intersection_result = set1.intersection(set2)
intersection_result

{3}

In [57]:
# Set difference
difference_result = set1.difference(set2)
difference_result

{1, 2, 'apple'}

In [58]:
# Copying a list
copied_set=set1
copied_set.remove('apple')
print(copied_set)
print(set1)

{1, 2, 3}
{1, 2, 3}

In [59]:
# So always use copy method
copied_set=set2.copy()
copied_set.remove('mango')
print(copied_set)
print(set2)

{3, 4, 5}
{3, 4, 5, 'mango'}

In [60]:
print(my_set)

{3, '*', 19, 'added element'}

In [61]:
print(my_set)
print(19 in my_set)
print('mango' in my_set)

{3, '*', 19, 'added element'}
True
False

In [62]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])
#try to add element into set1 gives an error
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [64]:
set1={12,13,4,5}
set1.add(2)
set1

{2, 4, 5, 12, 13}

In [66]:
#A Mobile store has provided a snapshot of the details of mobile phones sold by them.

#Brand RAM (in GB) Memory (in GB) Price
#Apple 4 128 90000
#Samsung 12 128 60000
#LG 8 64 40000
#Apple 8 128 120000

#Q. Store all brand , RAM and Memory attributes as set to find the unique elements.
#Sol
set_brand={"Apple","Samsung","LG","Apple"}
set_RAM={4,12,8,8}
set_Memory={128,128,64,128}
set_Price={90000,60000,40000,120000}
print("Unique brand are:",set_brand)
print("Unique RAM are:",set_RAM)
print("Unique Memory are:",set_Memory)
print("Unique Price are:",set_Price)

Unique brand are: {'Samsung', 'LG', 'Apple'}
Unique RAM are: {8, 4, 12}
Unique Memory are: {128, 64}
Unique Price are: {90000, 40000, 60000, 120000}

In [67]:
'LG'in set_brand

True

In [68]:
my_list = [31, 2, 3, 'four', 5.0,'*', 19]
my_list

[31, 2, 3, 'four', 5.0, '*', 19]

In [69]:
first_element = my_list[0]
print(first_element)

31

In [70]:
# Accessing the last element
last_element = my_list[-1]
print(last_element)

19

In [72]:
# Accessing elements_sequentially
elements_sequentially = my_list[0:5]
print(elements_sequentially)

[31, 2, 3, 'four', 5.0]

In [76]:
# Accessing elements with certain step
elements_stepped = my_list[1:5:2]
print(elements_stepped)

[2, 'four']

In [77]:
# Reversing a list elements with indexing
reversed_list = my_list[::-1]
print(reversed_list)

[19, '*', 5.0, 'four', 3, 2, 31]

In [78]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

In [79]:
# Concatenation: Combining two or more lists.
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 'a', 'b', 'c']

In [80]:
# Repetition: Repeating elements in a list
repeated_list = list1 * 3
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [82]:
#Q1: WAP to count the number of elements in a list
items = [45, 67, 34, 89, 5]
count=0
for i in items:
    count=count+1
print("Number of elements in a list is", count)

Number of elements in a list is 5

In [85]:
#Q2: WAP to multiply all the number of elements in a list and print the output
items = [5,3,1,5]
# Initialize a variable 'total' to store the product of the numbers, starting␣
#with 1
total = 1
# Iterate through each element 'x' in the input list 'items'
for x in items:
# Multiply the current element 'x' with the 'tot' variable
    total *= x
# Return the final product of the numbers
print(total)

75

In [86]:
# Modifying Elements: Lists are mutable, so you can change individual elements.
my_list[3] = 'one' # Modify element at 3rd index
print(my_list)

[31, 2, 3, 'one', 5.0, '*', 19]

In [87]:
# Modifying Elements: Lists are mutable, so you can change individual elements.
my_list[3] = 'one' # Modify element at 3rd index
print(my_list)

[31, 2, 3, 'one', 5.0, '*', 19]

In [89]:
my_list[2]=21
print(my_list)

[31, 2, 21, 'one', 5.0, '*', 19]

In [90]:
# Adding Elements: Using methods like append() to add elements.
print(my_list)
my_list.append(6) # Add element 6 at the end
print(my_list)

[31, 2, 21, 'one', 5.0, '*', 19]
[31, 2, 21, 'one', 5.0, '*', 19, 6]

In [91]:
# Removing Elements: Using methods like remove() or pop() to delete elements.
print(my_list)
removed_element = my_list.pop(2) # Remove and return element at index 2
print(removed_element)
print(my_list)

[31, 2, 21, 'one', 5.0, '*', 19, 6]
21
[31, 2, 'one', 5.0, '*', 19, 6]

In [92]:
print(my_list)
removed_element = my_list.remove(5.0) # Remove element 5.0
print(removed_element)
print(my_list)

[31, 2, 'one', 5.0, '*', 19, 6]
None
[31, 2, 'one', '*', 19, 6]

In [93]:
# len(): Finding the length of a list.
print(my_list)
length_of_list = len(my_list)
print(length_of_list)

[31, 2, 'one', '*', 19, 6]
6

In [96]:
# sorted(): Sorting elements in a list.
numerical_list=[2,6,1,89.7,54,4]
print(numerical_list)
sorted_list = sorted(numerical_list)
print(sorted_list)

[2, 6, 1, 89.7, 54, 4]
[1, 2, 4, 6, 54, 89.7]

In [95]:
numerical_list=[2,6,1,'apple',54,4]
print(numerical_list)
sorted_list = sorted(numerical_list)
print(sorted_list)

[2, 6, 1, 'apple', 54, 4]

TypeError: '<' not supported between instances of 'str' and 'int'

In [97]:
# append(): Add an element to the end of the list.
my_list.append('seven') # Add 'seven' to the end
my_list

[31, 2, 'one', '*', 19, 6, 'seven']

In [101]:
# extend(): Extend the list by appending elements from another list.
my_list.extend([7,8,9]) # Extend the list with elements [7,8,9]
my_list

[31, 2, 'one', '*', 19, 6, 'seven', 7, 8, 9, 79]

In [102]:
# count(): Count occurrences of a specific element.
occurrences_of_seven = my_list.count('seven') # Count occurrences
occurrences_of_seven

1

In [103]:
# Difference in append and extend method
print(my_list)
my_list.append([7, 8, 9])
my_list

[31, 2, 'one', '*', 19, 6, 'seven', 7, 8, 9, 79]

[31, 2, 'one', '*', 19, 6, 'seven', 7, 8, 9, 79, [7, 8, 9]]

In [105]:
#7.0.1 Q3: WAP to swap the first and last element of the list [14, 3, 56, 17, 8, 10] and
#output should be as shown below:
#Before swapping [14, 3, 56, 17, 8, 10]
#After swapping [10, 3, 56, 17, 8, 14]
mylist=[14,3,56,17,8,10]
mylist.pop(-1)
mylist.pop(0)
mylist.insert(0,10)
mylist.append(14)
mylist

[10, 3, 56, 17, 8, 14]

In [106]:
# Copying a list
copied_list=my_list
copied_list[1] = 'CHECK THIS!!!!'
print(copied_list)
print(my_list)
print(id(my_list))
print(id(copied_list))

[31, 'CHECK THIS!!!!', 'one', '*', 19, 6, 'seven', 7, 8, 9, 79, [7, 8, 9]]
[31, 'CHECK THIS!!!!', 'one', '*', 19, 6, 'seven', 7, 8, 9, 79, [7, 8, 9]]
1839407400768
1839407400768

In [107]:
# So always use copy method
copied_list=my_list.copy()
copied_list[1] = 'WHAT ABOUT THIS!!!!'
print(copied_list)
print(my_list)
print(id(my_list))
print(id(copied_list))

[31, 'WHAT ABOUT THIS!!!!', 'one', '*', 19, 6, 'seven', 7, 8, 9, 79, [7, 8, 9]]
[31, 'CHECK THIS!!!!', 'one', '*', 19, 6, 'seven', 7, 8, 9, 79, [7, 8, 9]]
1839407400768
1839406925440

In [108]:
# Example
nested_list = [42,'one',[1, 'HOHO', 3], ['a', 'b', 'c'], [True, False],'apple']
nested_list

[42, 'one', [1, 'HOHO', 3], ['a', 'b', 'c'], [True, False], 'apple']

In [109]:
# Accessing Elements in Nested Lists:
element = nested_list[2][1] # Accessing the element 'HOHO'
element

'HOHO'

In [111]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]
flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [112]:
'''A Mobile store has provided a snapshot of the details of mobile phones sold by them.

Brand RAM (in GB) Memory (in GB) Price
Apple 4 64 90000
Samsung 12 128 60000
LG 8 64 40000
Apple 8 128 120000

Q. Store the brands in a list'''
brand=["Apple","Samsung","LG","Apple"]
brand

['Apple', 'Samsung', 'LG', 'Apple']

In [113]:
type(brand)

list

In [114]:
ram_list = [4, 12, 8, 4]
storage_list = [128, 128, 64, 128]
price_list = [90000, 60000, 40000, 120000]

In [116]:
len(brand)

4

In [117]:
min(price_list),max(price_list)

(40000, 120000)

In [118]:
ram_list[2]

8

In [121]:
#prinr three items from the list price_list.
price_list[0:3]

[90000, 60000, 40000]

In [124]:
brand[-2]

'LG'

In [126]:
brand.pop()

'Apple'

In [127]:
brand.append('Motorola')
brand

['Apple', 'Samsung', 'LG', 'Motorola']

In [128]:
brand

['Apple', 'Samsung', 'LG', 'Motorola']

In [129]:
brand.index('LG')

2

In [130]:
sum(price_list)

310000

In [134]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2) #list append, create squares of number
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [135]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [136]:
my_tuple = (31, 2, 3, 'four', 5.0, '*', 19)
my_tuple

(31, 2, 3, 'four', 5.0, '*', 19)

In [144]:
t1=("sat",)
type(t1)

tuple

In [145]:
#only parenthesis is not enough
t = ('satish')
type(t)

str

In [146]:
#need a comma at the end
t = ('satish',)
type(t)

tuple

In [147]:
#need a comma at the end
t = ('satish',)
type(t)

tuple

In [148]:
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup) # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [150]:
# Accessing the first element
first_element = my_tuple[0]
print(first_element)
my_tuple

31

(31, 2, 3, 'four', 5.0, '*', 19)

In [151]:
# Accessing the last element
last_element = my_tuple[-1]
print(last_element)

19

In [152]:
# Accessing elements_sequentially
elements_sequentially = my_tuple[1:5]
print(elements_sequentially)

(2, 3, 'four', 5.0)

In [153]:
# Accessing elements with certain step
elements_stepped = my_tuple[1:5:2]
print(elements_stepped)

(2, 'four')

In [154]:
# Reversing a list elements with indexing
reversed_list = my_tuple[::-1]
print(reversed_list)

(19, '*', 5.0, 'four', 3, 2, 31)

In [155]:
#WAP to print the sum of the fisrt and last element in a tuple
number = (3,48,4,0,-12,8)
first_digit = int(number[0])
last_digit = int(number[-1])
# Adding these two variables
addition = first_digit + last_digit
# Display our output
print('Addition of first and last digit of the number is',
addition)

Addition of first and last digit of the number is 11

In [156]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [157]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

In [158]:
# Concatenation: Combining two or more lists.
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [159]:
# Repetition: Repeating elements in a list
repeated_tuple = tuple1 * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [161]:
# Modifying Elements: Tuples are imutable, so you cannot change individual␣
#elements.
my_tuple[3] = 'one' # Modify element at 3rd index
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [162]:
print(my_tuple)
my_tuple_list=list(my_tuple)
my_tuple_list[3]='one'
my_tuple_updated=tuple(my_tuple_list)
print(my_tuple_updated)

(31, 2, 3, 'four', 5.0, '*', 19)
(31, 2, 3, 'one', 5.0, '*', 19)

In [163]:
# len(): Finding the length of a tuple.
print(my_tuple)
length_of_tuple = len(my_tuple)
print(length_of_tuple)

(31, 2, 3, 'four', 5.0, '*', 19)
7

In [164]:
# sorted(): Sorting elements in a list.
numerical_tuple=(2,6,1,89,54,4)
print(numerical_tuple)
sorted_tuple = sorted(numerical_tuple) # Always returns a list
print(sorted_tuple)

(2, 6, 1, 89, 54, 4)
[1, 2, 4, 6, 54, 89]

In [165]:
# max(), min(): Returns the maximum and minimum values in a tuple.
print(max(numerical_tuple))
print(min(numerical_tuple))

89
1

In [166]:
# sum(): Returns the sum of all elements in a tuple.
sum(numerical_tuple)

156

In [167]:
my_tuple

(31, 2, 3, 'four', 5.0, '*', 19)

In [168]:
# count(): Count occurrences of a specific element.
occurrences_of_seven = my_tuple.count('four') # Count occurrences
occurrences_of_seven

1

In [169]:
# index(): Returns the index of the first occurrence of a specific element.
print(my_tuple)
index_of_three = my_tuple.index('four')
index_of_three

(31, 2, 3, 'four', 5.0, '*', 19)

3

In [170]:
# Example
nested_tuple = (42,'one',(1, 'HOHO', 3), ['a', 'b', 'c'], [True, False],'apple')
nested_tuple

(42, 'one', (1, 'HOHO', 3), ['a', 'b', 'c'], [True, False], 'apple')

In [171]:
# Accessing Elements in Nested tuple:
element = nested_tuple[2][1] # Accessing the element 'HOHO'
element

'HOHO'

In [172]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [173]:
'''A Mobile store has provided a snapshot of the details of mobile phones sold by them.

Brand RAM (in GB) Memory (in GB) Price
Apple 4 64 90000
Samsung 12 128 60000
LG 8 64 40000
Apple 8 128 120000

Q. Store the storage specifications 128/128/64/128 as an immutable variable.
'''
tup1=(64,128,64,128)

In [174]:
tup1[1]

128

In [175]:
tup1[1]= 90

TypeError: 'tuple' object does not support item assignment

In [176]:
my_d = {'name': 'John', 'age': 25, 'city': 'Greater Noida'}
my_d

{'name': 'John', 'age': 25, 'city': 'Greater Noida'}

In [177]:
# Using dict() constructor
my_d = dict(name='John', age= 25, city ='Greater Noida')
print(my_d)

{'name': 'John', 'age': 25, 'city': 'Greater Noida'}

In [178]:
# Accessing values
name = my_d['name']
print(name)
age = my_d['age']
print(age)

John
25

In [179]:
# Using get() method
city1 = my_d.get('city', 'No Country in this dictionary')
print(city1)
country1= my_d.get('country', 'No Country in this dictionary')
print(country1)

Greater Noida
No Country in this dictionary

In [180]:
my_d2 = {'name': ['John','Rahul','Shikha'], 'age': [25,26,23],
'city': ['Greater Noida','Delhi','Mumbai']}

my_d2

{'name': ['John', 'Rahul', 'Shikha'],
 'age': [25, 26, 23],
 'city': ['Greater Noida', 'Delhi', 'Mumbai']}

In [181]:
# Accessing values for 2nd index
name = my_d2['name'][2]
print(name)
age = my_d2['age'][2]
print(age)
city = my_d2['city'][2]
print(city)

Shikha
23
Mumbai

In [183]:
book_info = {'title': 'The Catcher in the Rye',

'author': {'name': 'J.D. Salinger','birth_year': 1919,'death_year':

2010},

'publication_year': 1951,
'genre': 'Fiction'
}

In [184]:
book_info['author']['name'],book_info['publication_year']

('J.D. Salinger', 1951)

In [185]:
# Using built-in functions
all_keys = my_d2.keys()
print(all_keys)
print('\n')
all_values = my_d2.values()
print(all_values)
print('\n')
all_items = my_d2.items()
print(all_items)

dict_keys(['name', 'age', 'city'])


dict_values([['John', 'Rahul', 'Shikha'], [25, 26, 23], ['Greater Noida', 'Delhi', 'Mumbai']])


dict_items([('name', ['John', 'Rahul', 'Shikha']), ('age', [25, 26, 23]), ('city', ['Greater Noida', 'Delhi', 'Mumbai'])])

In [186]:
# Adding a new key-value pair
my_d = {'name': 'John', 'age': 25, 'city': 'Greater Noida'}
my_d
print(my_d)
my_d['gender'] = 'Male'
print(my_d)

{'name': 'John', 'age': 25, 'city': 'Greater Noida'}
{'name': 'John', 'age': 25, 'city': 'Greater Noida', 'gender': 'Male'}

In [187]:
# Updating an existing value
print(my_d)
my_d['age'] = 26
print(my_d)

{'name': 'John', 'age': 25, 'city': 'Greater Noida', 'gender': 'Male'}
{'name': 'John', 'age': 26, 'city': 'Greater Noida', 'gender': 'Male'}

In [188]:
# Removing a key-value pair
del my_d['city']
my_d

{'name': 'John', 'age': 26, 'gender': 'Male'}

In [189]:
# Using pop() method
gender = my_d.pop('gender', 'Not specified')
my_d

{'name': 'John', 'age': 26}

In [190]:
my_d = {'name': 'satish', 'age': 27, 'address': 'guntur'}
#remove an arbitarty key/random
my_d.popitem()
print(my_d)

{'name': 'satish', 'age': 27}

In [194]:
# Iterating through keys

for key in my_d2:
    print(key, my_d2[key])

name ['John', 'Rahul', 'Shikha']
age [25, 26, 23]
city ['Greater Noida', 'Delhi', 'Mumbai']

In [196]:
# Iterating through key-value pairs
for key, value in my_d2.items():
    print(key, value)

name ['John', 'Rahul', 'Shikha']
age [25, 26, 23]
city ['Greater Noida', 'Delhi', 'Mumbai']

In [198]:
# Iterating through key-value pairs
for key, value in my_d2.items():
    print(key, value)

name ['John', 'Rahul', 'Shikha']
age [25, 26, 23]
city ['Greater Noida', 'Delhi', 'Mumbai']

In [199]:
# len(): Finding the length of a Dictionary.
print(my_d2)
length_of_list = len(my_d2)
print(length_of_list)

{'name': ['John', 'Rahul', 'Shikha'], 'age': [25, 26, 23], 'city': ['Greater Noida', 'Delhi', 'Mumbai']}
3

In [201]:
# sorted(): Sorting elements in a Dictionary.
print(my_d2['age'])
sorted_values = sorted(my_d2['age'])
print(sorted_values)

[25, 26, 23]
[23, 25, 26]

In [203]:
# update(): Updates the dictionary with elements from another dictionary or␣
#iterable.
new_data = {'hobby': ['Reading','Writing','Tracking']}
my_d2.update(new_data)
my_d2

{'name': ['John', 'Rahul', 'Shikha'],
 'age': [25, 26, 23],
 'city': ['Greater Noida', 'Delhi', 'Mumbai'],
 'hobby': ['Reading', 'Writing', 'Tracking']}

In [204]:
# fromkeys():Create a new dictionary with keys from iterable and values set to␣
#value.
key_list= ['Course','Branch']
new_d= dict.fromkeys(key_list)
new_d

{'Course': None, 'Branch': None}

In [205]:
key_list= ['Course','Branch']
default_values='to be filled'
new_d= dict.fromkeys(key_list,default_values)
new_d

{'Course': 'to be filled', 'Branch': 'to be filled'}

In [209]:
# Copying a dictionary

dict_2={'name': ['John', 'Rahul', 'Shikha'], 'age': [25, 26, 23], 'city': ['GreaterNoida', 'Delhi', 'Mumbai'], 'hobby': ['Reading', 'Writing', 'Tracking'], 1:'CHECK THIS!!!!}
copied_dict=my_dict_2
copied_dict[1] = 'CHECK THIS!!!!'
print(copied_dict)
print(my_dict_2)

SyntaxError: unterminated string literal (detected at line 3) (3333203051.py, line 3)

In [6]:
class Person:
    def __init__(sectionm, name, age):
        sectionm.name = name
        sectionm.age = age
    def myfunc(abc):
        print("Hello my name is " + abc.name)
p1 = Person("John", 36)

p1.myfunc()
pass

Hello my name is John

In [8]:
class Person:
    def __init__(self,name):
        self.name=name
    def say_hi(self):
        print("Hello !, my name is ",self.name)
P=Person('Nikhil')
P.say_hi()

Hello !, my name is  Nikhil

In [10]:
class GFG:
    def __init__(self,name,company):
        self.name=name
        self.company=company
    def __str__(self):
        return f"My name is {self.name} and I work in {self.company}."
myobj=GFG("John","Geek for Geeks")
print(myobj)

My name is John and I work in Geek for Geeks.

In [13]:
class Dog:
    animal='dog'
    def __init__(self,breed):
        self.breed=breed
    def setColor(self,color):
        self.color=color
    def getColor(self):
        return self.color
rodger=Dog("pug") 
rodger.setColor("brown")
print(rodger.getColor())

brown

In [15]:
class Employee:
    id=10
    name="John"
    def display(self):
        print("Id:%d \nName:%s"%(self.id,self.name))
emp=Employee()
emp.display()

Id:10
Name:John

In [17]:
del emp

In [18]:
emp.display()

NameError: name 'emp' is not defined

In [19]:
class Person(object):
    def __init__(self,name,id):
        self.name=name
        self.id=id
    def Display(self):
        print(self.name,self.id)
emp=Person("Satyam",102)
emp.Display()

Satyam 102

In [21]:
class Emp(Person):
    def Print(self):
        print("Emp class called")
Emp_details=Emp("Mayank",103)
Emp_details.Display()
Emp_details.Print()

Mayank 103
Emp class called

In [22]:
class Person(object):
    def __init__(self,name):
        self.name=name
    def getName(self):
        return self.name
    def isEmployee(self):
        return False

class Employee(Person):
    def isEmployee(self):
        return True

emp=Person("Geek1")
print(emp.getName(),emp.isEmployee())
emp=Employee("Geek2")
print(emp.getName(),emp.isEmployee())

Geek1 False
Geek2 True